@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
}

@layer components {
	.nav-link {
		@apply uppercase font-semibold;
	}
	.card {
		@apply bg-white px-6 py-10 rounded-lg shadow-lg md:max-w-[820px] mx-auto;
	}
	.title {
		@apply font-bold mb-8 text-2xl;
	}
	.input {
		@apply block w-full rounded-md p-2 placeholder:text-sm border-0 outline-0 ring-1 ring-indigo-500 focus:ring-2 mb-4;
	}
	.btn {
		@apply block w-full rounded-md p-2 bg-indigo-500 text-white active:bg-indigo-600;
	}
}
